@font-face {
  font-family: 'twin-peaks';
  src: local('twin-peaks'), url('./fonts/OPTINational-Gothic.otf') format('truetype');
  font-weight: 400; /* Define the weight/style */
  font-style: normal;
}

@font-face {
  font-family: 'ITC-AG-Gothic';
  src: local('ITC-AG-Gothic'), url('./fonts/ITC-AG-Gothic/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf') format('truetype');
  font-weight: 400; /* Define the weight/style */
  font-style: normal;
}