@font-face {
  font-family: 'twin-peaks';
  src: local('twin-peaks'), url('./fonts/OPTINational-Gothic.otf') format('truetype');
  font-weight: 400; /* Define the weight/style */
  font-style: normal;
}

@font-face {
  font-family: 'ITC-AG-Gothic';
  src: local('ITC-AG-Gothic'), url('./fonts/ITC-AG-Gothic/ITC\ Avant\ Garde\ Gothic\ Std\ Medium.otf') format('truetype');
  font-weight: 400; /* Define the weight/style */
  font-style: normal;
}
.main-header {
  color: darkred;
  letter-spacing: 10px;
  white-space: nowrap;
  text-align: end;
  text-transform: uppercase;

  /* Mobile-first font size (equivalent to xs) */
  font-size: 13rem !important;
}

/* Tablet/Desktop font size (equivalent to md) */
@media (min-width: 900px) {
  .main-header {
    font-size: 18rem !important;
  }
}